@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text font-body;
}

/* Smooth UI feel */
html {
  scroll-behavior: smooth;
}

/* FIX ICON VISIBILITY */
svg {
  display: inline-block;
  stroke: currentColor;
}